@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 79px);
}

.wrapper {
  width: 1440px;
  /* padding: 30px 100px; */
}

li {
  list-style: none;
  font-weight: 500;
}

li a {
  text-decoration: none;
  color: black;
  transition-duration: 150ms;
}

li a:hover {
  color: grey;
}
